{% extends "model.html" %}

{% block title %}
    produtos cadastrados
{% endblock %}

{% block head_extras %}
<!-- link pro arquivo css  -->
<link rel="stylesheet" href="{{ url_for('static', filename='style/model.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/itens.css') }}">
<script src="{{ url_for('static', filename='script/menu.js') }}"></script>
{% endblock %}

{% block content %}
<nav>
    <img src="../../static/assets/cliqueconta.png" alt="Logo do CliqueCompra">
    <div class="links">
        
        <!-- Dropdown Relatórios -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('relatorios-menu')">Relatórios</button>
            <div class="dropdown-content" id="relatorios-menu">
                <a href="{{url_for('relatorio.top10produtos')}}">Top 10</a>
                <a href="{{url_for('relatorio.naovendidos')}}">Não Vendidos</a>
                <a href="{{url_for('relatorio.compras1k')}}">Compras +1000</a>
                <a href="{{url_for('relatorio.totalcompras')}}">Total de Compras</a>
            </div>
        </div>

        <!-- Dropdown Vendas -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('vendas-menu')">Vendas</button>
            <div class="dropdown-content" id="vendas-menu">
                <a href="{{url_for('venda.view')}}">Visualizar Vendas</a>
                <a href="{{url_for('venda.nova_venda')}}">Nova Venda</a>
            </div>
        </div>

        <!-- Dropdown Produtos -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('produtos-menu')">Produtos</button>
            <div class="dropdown-content" id="produtos-menu">
                <a href="{{url_for('produtos.view')}}">Visualizar Produtos</a>
                <a href="{{url_for('produtos.add')}}">Cadastrar Produto</a>
            </div>
        </div>

        <!-- Dropdown Clientes -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('clientes-menu')">Clientes</button>
            <div class="dropdown-content" id="clientes-menu">
                <a href="{{url_for('cliente.view')}}">Lista de Clientes</a>
            </div>
        </div>

        <a class='sair'href="#">Sair</a>
    </div>
</nav>
<div class="filtro">
    <span>Ordernar por</span>
    <form action="{{url_for('venda.view')}}" method="post">
        <select name="ordem" id="filtro-cli">
            <option value="crescente">crescente</option>
            <option value="decrescente">decrescente</option>
        </select>

        <button type="submit">Ordernar</button>
    </form>
</div>
<div id="produto">
    <ol class="itens">
        {%if vendas%}
            {% for venda in vendas %}   
                <li class="item venda">
                    <div class="p-e venda">
                        <h2 id="tit_total">Total da venda</h2>
                        <div id="divisor"></div>
                        <h2 id="preco"><span style="color: gray;">R$ </span>{{venda.ven_total}}</h2>
                    </div>
                    <div class="dados">
                        <h2>Data: <span style="color: red;">{{venda.ven_data}}</span></h2>
                        <h2>Comprador: <span style="color: red;">{{venda.cli_nome}}</span> | ID: <span style="color: red;">{{venda.cli_id}}</span></h2>
                        <h2></h2>
                    </div>
                    <div class="links-p">
                        <a href="{{url_for('venda.edit', venda_id=venda.ven_id)}}">Editar</a>
                        <a href="{{url_for('venda.remove', venda_id=venda.ven_id)}}">Deletar</a>
                    </div>
                </li> 
            {% endfor %}
        {%else%}
            <h1>Nada foi vendido ainda :(</h1>
        {%endif%}
    </ol>
</div>


{% endblock %}