{% extends "model.html" %}

{% block title %}
    cadastrar produto
{% endblock %}

{% block head_extras %}
<!-- link pro arquivo css  -->
<link rel="stylesheet" href="{{ url_for('static', filename='style/model.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/edit.css') }}">
<script src="{{ url_for('static', filename='script/menu.js') }}"></script>
{% endblock %}

{% block content %}
<nav>
    <img src="../../static/assets/cliqueconta.png" alt="Logo do CliqueCompra">
    <div class="links">
        
        <!-- Dropdown Relatórios -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('relatorios-menu')">Relatórios</button>
            <div class="dropdown-content" id="relatorios-menu">
                <a href="{{url_for('relatorio.top10produtos')}}">Top 10</a>
                <a href="{{url_for('relatorio.naovendidos')}}">Não Vendidos</a>
                <a href="{{url_for('relatorio.compras1k')}}">Compras +1000</a>
                <a href="{{url_for('relatorio.totalcompras')}}">Total de Compras</a>
            </div>
        </div>

        <!-- Dropdown Vendas -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('vendas-menu')">Vendas</button>
            <div class="dropdown-content" id="vendas-menu">
                <a href="{{url_for('venda.view')}}">Visualizar Vendas</a>
                <a href="{{url_for('venda.nova_venda')}}">Nova Venda</a>
            </div>
        </div>

        <!-- Dropdown Produtos -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('produtos-menu')">Produtos</button>
            <div class="dropdown-content" id="produtos-menu">
                <a href="{{url_for('produtos.view')}}">Visualizar Produtos</a>
                <a href="{{url_for('produtos.add')}}">Cadastrar Produto</a>
            </div>
        </div>

        <!-- Dropdown Clientes -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('clientes-menu')">Clientes</button>
            <div class="dropdown-content" id="clientes-menu">
                <a href="{{url_for('cliente.view')}}">Lista de Clientes</a>
            </div>
        </div>

        <a class='sair'href="#">Sair</a>
    </div>
</nav>
<main>
    <h1>Cadastrar Produto</h1>
    <form action="{{ url_for('produtos.add')}}" method="POST">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Nome do Produto" required>
        </div>
        <div>
            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" placeholder="Descrição" required>
        </div>
        <div>
            <label for="preco">preco:</label>
            <input type="number" id="preco" name="preco" step="0.01" placeholder="Preço">
        </div>
        <div>
            <label for="estoque">Estoque:</label>
            <input type="number" id="estoque" name="estoque" placeholder="Quantidade em Estoque">
        </div>
        
        <button type="submit">Cadastrar</button>
    </form>
</main>
{% endblock %}