{% extends "model.html" %}

{% block title %}
    cadastrar produto
{% endblock %}

{% block head_extras %}
<!-- link pro arquivo css  -->
<link rel="stylesheet" href="{{ url_for('static', filename='style/model.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/edit.css') }}">
{% endblock %}

{% block content %}
<nav>
    <img src="../../static/assets/cliqueconta.png" alt="Logo do CliqueCompra">
    <div class="links cat">
        <a href="{{url_for('relatorio.filtros')}}">Relatórios</a>
        <a href="{{url_for('venda.view')}}">Vendas</a>
        <a href="{{url_for('produtos.view')}}">Produtos</a>
        <a href="">Sair</a>
    </div>
</nav>
<main>
    <h1>Cadastrar Produto</h1>
    <form action="{{ url_for('produtos.add')}}" method="POST">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Nome do Produto" required>
        </div>
        <div>
            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" placeholder="Descrição" required>
        </div>
        <div>
            <label for="preco">preco:</label>
            <input type="number" id="preco" name="preco" step="0.01" placeholder="Preço">
        </div>
        <div>
            <label for="estoque">Estoque:</label>
            <input type="number" id="estoque" name="estoque" placeholder="Quantidade em Estoque">
        </div>
        
        <button type="submit">Cadastrar</button>
    </form>
</main>
{% endblock %}