{% extends "model.html" %}

{% block title %}
Produtos
{% endblock %}

{% block head_extras %}
<!-- link pro arquivo css  -->
<link rel="stylesheet" href="{{ url_for('static', filename='style/model.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/itens.css') }}">
<script src="{{ url_for('static', filename='script/menu.js') }}"></script>
<script src="{{ url_for('static', filename='script/dell.js') }}"></script>

{% endblock %}

{% block content %}
<nav class="nav-reg">
    <img src="../../static/assets/cliqueconta.png" alt="Logo do CliqueCompra">
    <div class="links">

        <!-- Dropdown Relatórios -->
        {% if current_user.cli_tipo == 'admin' %}
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('relatorios-menu')">Relatórios</button>
            <div class="dropdown-content" id="relatorios-menu">
                <a href="{{url_for('relatorio.top10produtos')}}">Top 10</a>
                <a href="{{url_for('relatorio.naovendidos')}}">Não Vendidos</a>
                <a href="{{url_for('relatorio.compras1k')}}">Compras +1000</a>
                <a href="{{url_for('relatorio.totalcompras')}}">Total de Compras</a>
            </div>
        </div>

        <!-- Dropdown Vendas -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('vendas-menu')">Vendas</button>
            <div class="dropdown-content" id="vendas-menu">
                <a href="{{url_for('venda.view')}}">Visualizar Vendas</a>
                <a href="{{url_for('venda.nova_venda')}}">Nova Venda</a>
            </div>
        </div>
        {% endif %}
        <!-- Dropdown Produtos -->
        <div class="dropdown">
            {% if current_user.cli_tipo == 'admin' %}
            <button class="dropdown-button" onclick="toggleDropdown('produtos-menu')">Produtos</button>
            <div class="dropdown-content" id="produtos-menu">
                <a href="{{url_for('produtos.view')}}">Catalogo de Produtos</a>
                <a href="{{url_for('produtos.add')}}">Cadastrar Produto</a>
            </div>
            <!-- <button class="dropdown-button" onclick="{{url_for('produtos.view')}}">Produtos</button> -->
        </div>
            {% endif %}
        {% if current_user.cli_tipo == 'admin' %}
        <!-- Dropdown Clientes -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('clientes-menu')">Clientes</button>
            <div class="dropdown-content" id="clientes-menu">
                <a href="{{url_for('cliente.view')}}">Lista de Clientes</a>
                <a href="{{url_for('cliente.register')}}">Cadastrar Clientes</a>
            </div>
        </div>
        {% endif %}
        <a class='sair' href="{{url_for('cliente.logout')}}">Sair</a>
    </div>
</nav>
<div class="filtro p-v">
    <span>Ordernar por</span>
    <form action="{{url_for('produtos.view')}}" method="post">
        <select name="ordem" id="filtro-cli">
            <option value="crescente">crescente</option>
            <option value="decrescente">decrescente</option>
        </select>

        <button type="submit">Ordernar</button>
    </form>
</div>
<div id="produto">
    <ol class="itens">
        {% if produtos %}
        {% for produto in produtos %}
        <li class="item">
            <h1>{{produto.pro_nome}}</h1>
            <h2 id="descricao">{{produto.pro_descricao}}</h2>
            <div class="p-e">
                <h2 id="preco"><span style="color: gray;">R$</span> {{produto.pro_preco}}</h2>
                <div id="divisor"></div>
                <h2 id="estoque"><span style="color: red;">{{produto.pro_estoque}}</span> unidades disponíveis</h2>
            </div>
            {%  if current_user.cli_tipo == 'admin'  %}
            <div class="links-p">
                <a href="{{url_for('produtos.edit', pro_id=produto.pro_id)}}">Editar</a>
                <a href="#"
                    onclick="return confirmarDeletar('{{url_for('produtos.remove', pro_id=produto.pro_id)}}')">Deletar</a>
            </div>
            {% endif %}
        </li>
        {% endfor %}
        {%else%}
        <h1>Nosso Estoque Zerou :(</h1>
        {%endif%}
    </ol>
</div>

{% endblock %}