{% extends "model.html" %}

{% block title %}
    produtos cadastrados
{% endblock %}

{% block head_extras %}
<!-- link pro arquivo css  -->
<link rel="stylesheet" href="{{ url_for('static', filename='style/model.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/cat.css') }}">
{% endblock %}

{% block content %}
<nav>
    <img src="../../static/assets/cliqueconta.png" alt="Logo do CliqueCompra">
    <div class="links">
        <a href="">blabla</a>
        <a href="">blablabla</a>
    </div>
</nav>
<div>
    <ol>
        {% for produto in produtos %}
            <li>{{produto.pro_nome}} | preço: {{produto.pro_preco}} | {{produto.pro_descricao}} | em estoque {{produto.pro_estoque}}</li>
            <a href="{{url_for('produtos.edit', pro_id=produto.pro_id)}}">editar produto</a>
            <a href="{{url_for('produtos.remove', pro_id=produto.pro_id)}}">deletar produto</a>
        
        {% endfor %}
    </ol>
</div>


{% endblock %}