{% extends "model.html" %}

{% block title %}
Clientes
{% endblock %}

{% block head_extras %}
<!-- link pro arquivo css  -->
<link rel="stylesheet" href="{{ url_for('static', filename='style/model.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/logs.css') }}">
<script src="{{ url_for('static', filename='script/menu.js') }}"></script>
<script src="{{ url_for('static', filename='script/dell.js') }}"></script>
{% endblock %}

{% block content %}
<nav class="nav-reg">
    <img src="../../static/assets/cliqueconta.png" alt="Logo do CliqueCompra">
    <div class="links">
        
        <!-- Dropdown Relatórios -->
        {% if current_user.cli_id == 1 %}
            <div class="dropdown">
                <button class="dropdown-button" onclick="toggleDropdown('relatorios-menu')">Relatórios</button>
                <div class="dropdown-content" id="relatorios-menu">
                    <a href="{{url_for('relatorio.top10produtos')}}">Top 10</a>
                    <a href="{{url_for('relatorio.naovendidos')}}">Não Vendidos</a>
                    <a href="{{url_for('relatorio.compras1k')}}">Compras +1000</a>
                    <a href="{{url_for('relatorio.totalcompras')}}">Total de Compras</a>
                    <a href="{{url_for('relatorio.logs')}}">Histórico de logs</a>
                </div>
            </div>
    
            <!-- Dropdown Vendas -->
            <div class="dropdown">
                <button class="dropdown-button" onclick="toggleDropdown('vendas-menu')">Vendas</button>
                <div class="dropdown-content" id="vendas-menu">
                    <a href="{{url_for('venda.view')}}">Visualizar Vendas</a>
                    <a href="{{url_for('venda.nova_venda')}}">Nova Venda</a>
                </div>
            </div>
        {% endif %}
        <!-- Dropdown Produtos -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('produtos-menu')">Produtos</button>
            <div class="dropdown-content" id="produtos-menu">
                <a href="{{url_for('produtos.view')}}">Visualizar Produtos</a>
                <a href="{{url_for('produtos.add')}}">Cadastrar Produto</a>
            </div>
        </div>
        {% if current_user.cli_id == 1 %}
            <!-- Dropdown Clientes -->
            <div class="dropdown">
                <button class="dropdown-button" onclick="toggleDropdown('clientes-menu')">Clientes</button>
                <div class="dropdown-content" id="clientes-menu">
                    <a href="{{url_for('cliente.view')}}">Lista de Clientes</a>
                    <a href="{{url_for('cliente.register')}}">Cadastrar Clientes</a>
                </div>
            </div>
        {% endif %}
        <a class='sair' href="{{url_for('cliente.logout')}}">Sair</a>
    </div>
</nav>
<main>
    <h1>Histórico de logs</h1>
    
    <div class="logs">
        {% for log in logs %}
            <div class="log">
                <ul>
                    <li><span style="color: red;">Data:</span> {{ log.log_data_hora.split(' ')[0] }}<li>
                    <li><span style="color: red;">Hora:</span> {{ log.log_data_hora.split(' ')[1] }}<li>
                </ul>
                <ul>
                    <li><span style="color: red;">Operação:</span> {{ log.log_operacao }}</li>
                    <li><span style="color: red;">Usuário:</span> {{ log.log_usuario }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>
</main>


{% endblock %}