{% extends "model.html" %}

{% block title %}
    fazer login
{% endblock %}

{% block head_extras %}
<!-- link pro arquivo css  -->
<link rel="stylesheet" href="{{ url_for('static', filename='style/model.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/cli-form.css') }}">
{% endblock %}

{% block content %}
<nav>
    <div class="links">
        <a href="{{url_for('index')}}">Início</a>
        <a style='transform: scale(1.1); background-color: black;'href="{{url_for('cliente.login')}}">Login</a>
        <a href="{{url_for('cliente.register')}}">Cadastro</a>
    </div>
</nav>
<main>
    <h1>Faça seu Login</h1>
    <form action="{{url_for('cliente.login')}}" method="post" class="formulario">
        <div id="nome">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="">
        </div>
        <div id="email">
            <label for="email">Email:</label>
            <input type="email" name="email" id="">
        </div>
        <button type="submit">Entrar</button>
    </form>
</main>

{% endblock %}
