{% extends "model.html" %}

{% block title %}
    fazer login
{% endblock %}

{% block head_extras %}
<!-- link pro arquivo css  -->
<link rel="stylesheet" href="{{ url_for('static', filename='style/model.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/cli-form.css') }}">
{% endblock %}

{% block content %}
<!-- X -->
<main>
    <h1>Faça seu Login</h1>
    <form action="{{url_for('cliente.login')}}" method="post" class="formulario">
        <div id="email">
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        </div>
        <div id="senha">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" required>
        </div>
        <button type="submit">Entrar</button>
    </form>
    <h3><a href="/clientes/register">Ainda não possui cadastro? Clique aqui</a></h3>
</main>

{% endblock %}
