{% extends "model.html" %}

{% block title %}
    Cadastrar cliente
{% endblock %}

{% block head_extras %}
<!-- link pro arquivo css  -->
<link rel="stylesheet" href="{{ url_for('static', filename='style/model.css') }}">
<script src="/static/script/menu.js"></script>
{% endblock %}

{% block content %}
<nav class="nav-reg">
    <img src="../../static/assets/cliqueconta.png" alt="Logo do CliqueCompra">
    <div class="links">
        
        <!-- Dropdown Relatórios -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('relatorios-menu')">Relatórios</button>
            <div class="dropdown-content" id="relatorios-menu">
                <a href="{{url_for('relatorio.top10produtos')}}">Top 10</a>
                <a href="{{url_for('relatorio.naovendidos')}}">Não Vendidos</a>
                <a href="{{url_for('relatorio.compras1k')}}">Compras +1000</a>
                <a href="{{url_for('relatorio.totalcompras')}}">Total de Compras</a>
            </div>
        </div>

        <!-- Dropdown Vendas -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('vendas-menu')">Vendas</button>
            <div class="dropdown-content" id="vendas-menu">
                <a href="{{url_for('venda.view')}}">Visualizar Vendas</a>
                <a href="{{url_for('venda.nova_venda')}}">Nova Venda</a>
            </div>
        </div>

        <!-- Dropdown Produtos -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('produtos-menu')">Produtos</button>
            <div class="dropdown-content" id="produtos-menu">
                <a href="{{url_for('produtos.view')}}">Visualizar Produtos</a>
                <a href="{{url_for('produtos.add')}}">Cadastrar Produto</a>
            </div>
        </div>

        <!-- Dropdown Clientes -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('clientes-menu')">Clientes</button>
            <div class="dropdown-content" id="clientes-menu">
                <a href="{{url_for('cliente.view')}}">Lista de Clientes</a>
                <a href="{{url_for('cliente.register')}}">Cadastrar Clientes</a>
            </div>
        </div>

        <a class='sair' href="{{url_for('cliente.logout')}}">Sair</a>
    </div>
</nav>
<main class="registermain">
    <h1>Cadastrar novo cliente</h1>
    <form action="{{url_for('cliente.register')}}" method="post" class="formulario register">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="" required>
        </div>
        <div>
            <label for="telefone">Telefone:</label>
            <input type="number" name="telefone" id="" required>
        
        </div>
        <div>
            <label for="endereco">Endereço:</label>
            <input type="text" name="endereco" id="" required>
        </div>
    
        <button type="submit">Cadastrar</button>
    </form>
</main>


{% endblock %}