{% extends "model.html" %}

{% block title %}
    cadastrar cliente
{% endblock %}

{% block head_extras %}
<!-- link pro arquivo css  -->
<link rel="stylesheet" href="{{ url_for('static', filename='style/model.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/cli-form.css') }}">
{% endblock %}

{% block content %}
<nav>
    <div class="links">
        <a href="{{url_for('index')}}">Início</a>
        <a href="{{url_for('cliente.login')}}">Login</a>
        <a style='transform: scale(1.1); background-color: black;'href="{{url_for('cliente.register')}}">Cadastro</a>
    </div>
</nav>
<main>
    <h1>Se Cadastre</h1>
    <form action="{{url_for('cliente.register')}}" method="post" class="formulario register">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="">
        </div>
        <div>
            <label for="telefone">Telefone:</label>
            <input type="text" name="telefone" id="">
        
        </div>
        <div>
            <label for="endereco">Endereço:</label>
            <input type="text" name="endereco" id="">
        </div>
    
        <button type="submit">Cadastrar</button>
    </form>
</main>


{% endblock %}