{% extends "model.html" %}

{% block title %}
    Cadastrar cliente
{% endblock %}

{% block head_extras %}
<!-- link pro arquivo css  -->
<link rel="stylesheet" href="{{ url_for('static', filename='style/model.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/cli-register.css') }}">
<script src="/static/script/menu.js"></script>
{% endblock %}

{% block content %}

<main class="registermain">
    <h1>Cadastrar novo cliente</h1>
    <form action="{{url_for('cliente.register')}}" method="post" class="formulario register">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="telefone">Telefone:</label>
            <input type="number" name="telefone" required>
        </div>
        <div>
            <label for="endereco">Endereço:</label>
            <input type="text" name="endereco" required>
        </div>
        <div>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" required>
        </div>
    
        <button type="submit">Cadastrar</button>
    </form>
    <h3><a href="/clientes/login">Já possui cadastro?FODASSSSSSSSSSSSSSSSSSSSEEEEEEEEEEEEEEEEEEEEEEEEEEE Clique aqui</a></h3>
</main>


{% endblock %}