{% extends "model.html" %}

{% block title %}
    clientes cadastrados
{% endblock %}

{% block head_extras %}
<!-- link pro arquivo css  -->
<link rel="stylesheet" href="{{ url_for('static', filename='style/model.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/clientes.css') }}">
{% endblock %}

{% block content %}
<nav>
    <img src="../../static/assets/cliqueconta.png" alt="Logo do CliqueCompra">
    <div class="links cat">
        <a href="{{url_for('relatorio.filtros')}}">Relatórios</a>
        <a href="{{url_for('produtos.view')}}">Produtos</a>
        <a href="{{url_for('produtos.add')}}">Novo Produto</a>
        <a href="">Sair</a>
    </div>
</nav>

<main>
    <h1>Clientes Cadastrados</h1>
    <div class="clientes">
        {% for cliente in clientes %}
            <div class="cliente">
                <ul>
                    <li><span style="color: red;">Nome:</span> {{ cliente.cli_nome }}</li>
                    <li><span style="color: red;">Email:</span> {{ cliente.cli_email }}</li>
                </ul>
                <ul>
                    <li><span style="color: red;">Contato:</span> {{ cliente.cli_telefone }}</li>
                    <li><span style="color: red;">Endereço:</span> {{ cliente.cli_endereco }}</li>
                </ul>
                <div class="acoes">
                    <a href="{{ url_for('cliente.edit', cli_id=cliente.cli_id) }}">Editar</a>
                    <a href="{{ url_for('cliente.remove', cli_id=cliente.cli_id) }}" class="delete">Deletar</a>
                </div>
            </div>
        {% endfor %}
    </div>
</main>


{% endblock %}