{% extends "model.html" %}

{% block title %}
    clientes cadastrados
{% endblock %}

{% block head_extras %}
<!-- link pro arquivo css  -->
{% endblock %}

{% block content %}

<h1>clientes cadastrados</h1>
<div>
    <ol>
        {% for cliente in clientes %}
            <li>nome:{{cliente.cli_nome}} | email:{{cliente.cli_email}} | contato: {{cliente.cli_telefone}} | endereço: {{cliente.cli_endereco}}</li>
            <a href="{{url_for('cliente.edit', cli_id=cliente.cli_id)}}">editar usuário</a>
            <a href="{{url_for('cliente.remove', cli_id=cliente.cli_id)}}">deletar usuário</a>
        {% endfor %}
    </ol>
</div>


{% endblock %}