{% extends "model.html" %}

{% block title %}
Clientes
{% endblock %}

{% block head_extras %}
<!-- link pro arquivo css  -->
<link rel="stylesheet" href="{{ url_for('static', filename='style/model.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/clientes.css') }}">
<script src="{{ url_for('static', filename='script/menu.js') }}"></script>
<script src="{{ url_for('static', filename='script/dell.js') }}"></script>
{% endblock %}

{% block content %}
<nav class="nav-reg">
    <img src="../../static/assets/cliqueconta.png" alt="Logo do CliqueCompra">
    <div class="links">
        
        <!-- Dropdown Relatórios -->
        {% if current_user.cli_tipo == 'admin' %}
            <div class="dropdown">
                <button class="dropdown-button" onclick="toggleDropdown('relatorios-menu')">Relatórios</button>
                <div class="dropdown-content" id="relatorios-menu">
                    <a href="{{url_for('relatorio.top10produtos')}}">Top 10</a>
                    <a href="{{url_for('relatorio.naovendidos')}}">Não Vendidos</a>
                    <a href="{{url_for('relatorio.compras1k')}}">Compras +1000</a>
                    <a href="{{url_for('relatorio.totalcompras')}}">Total de Compras</a>
                    <a href="{{url_for('relatorio.logs')}}">Histórico de logs</a>
                </div>
            </div>
    
            <!-- Dropdown Vendas -->
            <div class="dropdown">
                <button class="dropdown-button" onclick="toggleDropdown('vendas-menu')">Vendas</button>
                <div class="dropdown-content" id="vendas-menu">
                    <a href="{{url_for('venda.view')}}">Visualizar Vendas</a>
                    <a href="{{url_for('venda.nova_venda')}}">Nova Venda</a>
                </div>
            </div>
        {% endif %}
        <!-- Dropdown Produtos -->
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown('produtos-menu')">Produtos</button>
            <div class="dropdown-content" id="produtos-menu">
                <a href="{{url_for('produtos.view')}}">Visualizar Produtos</a>
                <a href="{{url_for('produtos.add')}}">Cadastrar Produto</a>
            </div>
        </div>
        {% if current_user.cli_tipo == 'admin' %}
            <!-- Dropdown Clientes -->
            <div class="dropdown">
                <button class="dropdown-button" onclick="toggleDropdown('clientes-menu')">Clientes</button>
                <div class="dropdown-content" id="clientes-menu">
                    <a href="{{url_for('cliente.view')}}">Lista de Clientes</a>
                    <a href="{{url_for('cliente.register')}}">Cadastrar Clientes</a>
                </div>
            </div>
        {% endif %}
        <a class='sair' href="{{url_for('cliente.logout')}}">Sair</a>
    </div>
</nav>
<main>
    <h1>Clientes Cadastrados</h1>
    <div class="filtro">
        <span>Ordernar por</span>
        <form action="{{url_for('cliente.view')}}" method="post">
            <select name="ordem" id="filtro-cli">
                <option value="crescente">crescente</option>
                <option value="decrescente">decrescente</option>
            </select>

            <button type="submit">Ordernar</button>
        </form>
    </div>
    <div class="clientes">
        {% for cliente in clientes %}
            {% if cliente.cli_email != "admin@admin" %}
                <div class="cliente">
                    <ul>
                        <li><span style="color: red;">Nome:</span> {{ cliente.cli_nome }}</li>
                        <li><span style="color: red;">Email:</span> {{ cliente.cli_email }}</li>
                    </ul>
                    <ul>
                        <li><span style="color: red;">Contato:</span> {{ cliente.cli_telefone }}</li>
                        <li><span style="color: red;">Endereço:</span> {{ cliente.cli_endereco }}</li>
                        <li><span style="color: red;">ID:</span> {{ cliente.cli_id }}</li>
                    </ul>
                    <div class="acoes">
                        <a href="{{ url_for('cliente.edit', cli_id=cliente.cli_id) }}">Editar</a>
                        <a href="#" onclick="return confirmarDeletar('{{url_for('cliente.remove', cli_id=cliente.cli_id)}}')">Deletar</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</main>


{% endblock %}